<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="ife.css">
    <title>IFE</title>
</head>
<body>
    <div class="header">
        <div class="lay">
            <p class="logo">logo</p>
            <div class="nav">
                <a href="qiucle.cn">Github</a>
                <a href="qiucle.cn">Register</a>
                <a href="qiucle.cn">Login</a>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="lay">
            <div class="select">
                <ul>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                </ul>
            </div>
        </div>   
    </div>
    <div class="lay">
        <div class="main">
            <ul>
                <li><a href="#" class="active">HOME</a></li>
                <li><a href="#">PROFILE</a></li>
                <li><a href="#">ABOUT</a></li>
            </ul>
        </div>
    </div>
    <div class="line">
        <p>
            dd afsfasf
        </p>
    </div>
    
    
</body>
</html>